<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
		
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\VideoGuide.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="105906176"/>
			</requestFiltering>
		</security>
	</system.webServer>
</configuration>
<!--ProjectGuid: DA6528FD-4400-4AB6-8A31-7F4015070FE2-->